/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 10;
}

/* Default Styles 
--------------------------------------------------------------------*/

.clearfix {
	clear: both;
}

/*Ancho de la barra del menú*/
.wrap {
	width: 355px;
	margin: 4em auto;
}


/* nav {
	background: -webkit-gradient(linear, center top, center bottom, from(white), to(gray));
	
	border-radius: 6px;
}*/

.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: white;/*color de letra fondo del menú desplegado*/
	display: block;
	font-size: 12px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

.menu li a:hover {
	
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: black;/*color de letra en hover*/
}

/* Dropdown styles */

.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

/*Justificar las opciones del menú*/
.menu ul a {
	white-space: nowrap;
}

/* Desplegar opciones del menú*/
.menu li:hover ul {
	background: #d73b1a;/*color del fondo de menú desplegado*/
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	opacity: 1;
}

.color{
	color:white;
}

.fondo{background:gray;}
.fondo{color:black;}
.fondo1{background:gray;}
.fondo1{color:black;}
.letra{color:blue;}


.menu li label{
	color: green;
		   	  }

table td {
			background:#D8D8DD;
		 }
table th {
			border: white 3px solid;
			text-align:center;
		 }
/* Color del borde de las celdas de tablas*/
table td {
			border: white 3px solid;
			text-align:center;
		 }

#table1  td {
  border: black 2px solid;
}

#table1  th {
  border: black 2px solid;
}

#table2  td {
  border: black 2px solid;
}

#table2  th {
  border: black 2px solid;
}

#table  td {
  border: #052501 2px solid;
  background: white;


}